Repository Armor-test/data-server-215, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/grp-payments, @Armor-test/dept-release, @Armor-test/grp-search, @Armor-test/squad-cloud, @Armor-test/team-research, @Armor-test/dept-reporting, @Armor-test/team-governance, @Armor-test/squad-mobile, @Armor-test/squad-database, @Armor-test/dept-identity, @Armor-test/squad-cache, @Armor-test/squad-search, @Armor-test/squad-reporting, @Armor-test/dept-ui, @Armor-test/team-security, @Armor-test/squad-tooling, @Armor-test/dept-automation, @Armor-test/team-reporting, @Armor-test/squad-apps, @Armor-test/squad-api, @Armor-test/squad-research, @Armor-test/squad-product, @Armor-test/grp-integration, @Armor-test/unit-test, @Armor-test/squad-qa, @Armor-test/grp-reporting, @Armor-test/dept-reliability, @Armor-test/squad-performance, @Armor-test/team-frontend, @Armor-test/team-logging, @Armor-test/unit-design, @Armor-test/dept-api, @Armor-test/grp-storage, @Armor-test/squad-payments, @Armor-test/dept-security, @Armor-test/dept-logging, @Armor-test/devops, @Armor-test/infra, @Armor-test/ci-team, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/compliance

.github/CODEOWNERS:

# CODEOWNERS file for data-server-215
# Global owners - will be requested for all PRs
* @Armor-test/grp-payments @Armor-test/dept-release @Armor-test/grp-search

# Directory ownership
/src/ @Armor-test/squad-cloud @Armor-test/team-research
/tools/ @Armor-test/squad-cloud @Armor-test/dept-reporting
/pkg/ @Armor-test/team-governance @Armor-test/squad-mobile
/scripts/ @Armor-test/squad-database @Armor-test/dept-identity @Armor-test/squad-cache
/migrations/ @Armor-test/squad-search @Armor-test/squad-reporting
/public/ @Armor-test/grp-search @Armor-test/dept-ui @Armor-test/team-security
/static/ @Armor-test/squad-tooling @Armor-test/dept-automation
/third_party/ @Armor-test/team-research @Armor-test/team-governance @Armor-test/squad-search
/extensions/ @Armor-test/squad-cloud @Armor-test/team-security
/test/ @Armor-test/team-reporting @Armor-test/squad-apps @Armor-test/squad-api

# File type ownership
*.sql @Armor-test/dept-automation @Armor-test/dept-ui
*.rs @Armor-test/squad-research @Armor-test/squad-product
*.proto @Armor-test/grp-integration @Armor-test/unit-test
*.php @Armor-test/squad-qa @Armor-test/team-security
*.md @Armor-test/grp-reporting @Armor-test/dept-reliability @Armor-test/squad-apps
*.swift @Armor-test/squad-performance @Armor-test/dept-reporting @Armor-test/squad-mobile
*.scala @Armor-test/squad-apps @Armor-test/squad-mobile @Armor-test/team-frontend
*.ts @Armor-test/grp-integration @Armor-test/squad-search
*.py @Armor-test/team-logging @Armor-test/unit-design @Armor-test/squad-database
*.js @Armor-test/dept-api @Armor-test/grp-storage @Armor-test/squad-cache
*.graphql @Armor-test/grp-reporting @Armor-test/unit-design @Armor-test/squad-payments
*.yaml @Armor-test/dept-security @Armor-test/unit-test
*.ini @Armor-test/dept-logging @Armor-test/squad-product @Armor-test/squad-tooling
*.h @Armor-test/team-logging @Armor-test/squad-payments
*.properties @Armor-test/dept-api @Armor-test/grp-storage @Armor-test/team-reporting

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/security/ @Armor-test/security @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-cloud, @Armor-test/team-research

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/grp-payments, @Armor-test/dept-release, @Armor-test/grp-search

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/team-reporting, @Armor-test/squad-apps, @Armor-test/squad-api

Add src/main.py
  src/main.py
Owners: @Armor-test/team-logging, @Armor-test/unit-design, @Armor-test/squad-database

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-api, @Armor-test/grp-storage, @Armor-test/squad-cache
